$primaryColor: #F5F5F5;
$secondaryСolor: #008A5E;
$grey: #CBCBCB;
$red: #C04F59;

$fontFamily: 'Nunito', sans-serif;
$fontHeading: 'Multiround Pro', sans-serif;

$fontPrimaryColor: #232323;
$fontSecondaryColor: #F5F5F5;