*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
}

@font-face {
    font-family: 'Multiround Pro';
    src: url('./assets/fonts/MultiroundPro.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Nunito';
    src: url('./assets/fonts/Nunito-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: 'Nunito', sans-serif;
}


