@use "../../../common/styles/scss/variables" as *;
@use "../../../common/styles/scss/mixin" as *;


.registrationWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.passwordWrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.inputWrapper{
  margin-bottom: 20px;
}

.generatedPassword{
  width: 65%;
}
.wrapperPasswordButton{
  margin-top: 1%;
}